{% extends "drybuild/base.html" %}
{% load static %}
{% load i18n %}
{% comment %} {% trans "About us" as about %}{% endcomment %}
{% trans "We offer you" as offer %}
{% comment %} {% trans "Testimonials" as testimonials %} {% endcomment %}

{% block headers %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">

<title>MG Ausbau GmbH</title>

{% endblock headers %}
{% block content %}
<!--- Main image, name and slogan of the company --->
    <header class="masthead" style="height: 90vh;
  min-height: 500px;
  background-image: url('{{ home_context.main_image.url }}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;">
        <div class="container h-100">
            <div class="row h-100">
                <div class="main-header">
                    <div class="col-12">
                        <h1 class="font-weight-light display-1">{{ home_context.header }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
 
<!--About the company-->
        <div class="header">
            <h2 class="display-3">{% trans "About us" %}</h2>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <img class="img-thumbnail" src="{{ home_context.logo.url }}"/>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    {% comment %} <figure>
                        <img src="{% static 'favicon.ico' %}" alt="Your text" />
                        <figcaption>{{ home_context.about_us}}</figcaption>
                    </figure> {% endcomment %}
                    <img src="{% static 'favicon.ico' %}"/> <p class="about-us">{{ home_context.about_us | safe }}</p>
                </div>
            </div>
        </div>
        <br/>
        <!--What we offer cards -->
        <div class="header">
            <h2 class="display-3" class="title" align="center">{% trans "We offer you" %}</h2>
        </div>
        <br/>
        <div class="container">
            <div class="card-group">
                <div class="card text-center" style="border: none;">
                    <img class="card-img-top mx-auto" style="width:300px; height:300px;" src="{{ home_context.card_one_image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ home_context.card_one }}</h5>
                        <p class="card-text">{{ home_context.card_one_description }}</p>
                    </div>
                </div>
                <div class="card text-center" style="border: none;">
                    <img class="card-img-top mx-auto" style="width:300px; height:300px;" src="{{ home_context.card_two_image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ home_context.card_two }}</h5>
                        <p class="card-text">{{ home_context.card_two_description }}</p>
                    </div>
                </div>
                <div class="card text-center" style="border: none;">
                    <img class="card-img-top mx-auto" style="width:300px; height:300px;" src="{{ home_context.card_three_image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ home_context.card_three }}</h5>
                        <p class="card-text">{{ home_context.card_three_description }}</p>
                    </div>
                </div>
            </div>
        </div>
       
    <br/>
<!--Testimonials-->
        {% comment %} <div class="header">
            <h2 class="display-3" align="center">{% trans "Testimonials" %}</h2>
        </div>
        <br/>
        <div class="preporyki">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h4>"{{ home_context.preporyka1 }}"</h4>
                            </div>
                            <div class="carousel-item">
                                <h4>"{{ home_context.preporyka2 }}"</h4>
                            </div>
                            <div class="carousel-item">
                                <h4>"{{ home_context.preporyka3 }}"</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/> {% endcomment %}
    

{% endblock content %}