.main-image {
    height: 80vh;
    min-height: 500px;
    /* background-image: url({{ home_context.main_image.url }}); */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-header {
    padding-top: 340px;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}




.preporyki {
    text-align: center;
    background: #CAEBEF;
    color: black;

}

.card-title {
    color: #D4AF37;
}