{% load i18n %}
{% trans "Contacts" as contact %}
{% trans "Mobile" as mobile %}
{% trans "Tel." as tel %}
{% trans "Fax" as fax %}
{% trans "Pages" as pages %}
{% trans "Home" as home %}
{% trans "Services" as services %}
{% trans "Projects" as projects %}
{% trans "Contacts" as contacts %}



<footer class="bg-light text-dark text-center text-lg-start">
  <!-- Grid container -->
  <div class="container-fluid">
    <!--Grid row-->
    <div class="row justify-content-center">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">{{ contact }}</h5>
        <ul class="list-unstyled">
          <li>
            <p>{{ mobile }}: +49 151 755 30336</p>
          </li>
          <li>
            <p>{{ tel }}: +49 8972 0198 10</p>
          </li>
          <li>
            <p>{{ fax }}: +49 8972 0198 11</p>
          </li>
        </ul>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">{{ pages }}</h5>
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'home-page' %}" class="text-dark">{{ home }}</a>
            </li>
            <li>
              <a href="{% url 'services-list' %}" class="text-dark">{{ services }}</a>
            </li>
            <li>
              <a href="{% url 'projects' %}" class="text-dark">{{ projects }}</a>
            </li>
            <li>
              <a href="{% url 'contact' %}" class="text-dark">{{ contacts }}</a>
            </li>
            <li>
              <a href="#" class="text-dark">Site Map</a>
            </li>
          </ul>
      </div>
      <!--Grid column-->
    
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: MG Ausbau GmbH
    <a class="text-white" href="https://www.facebook.com/evgeni.petrov.90/">Design Evgeni Petrov</a>
  </div>
  <!-- Copyright -->
</footer>

